<% if @book.errors.any? %>
<%= @book.errors.count %>errors prohibited this book from being saved:
<ul>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
  </ul>
  <% end %>
<div class = "container">
<div class = "row">
<div class= "col-md-3">
<h1>User Info</h1>
<table class = "table">
<tbody>
<tr>
<% if current_user.profile_image.attached? %>
<%= image_tag current_user.get_profile_image(100, 100) %>
<% end %>
</tr>
<tr>
<th>name</th>
<th><%= current_user.name %></th>
</tr>
<tr>
<th>introduction</th>
<th><%= current_user.introduction %></th>
</tr>
</tbody>
</table>

<%= link_to edit_user_path(current_user.id) do %>
<i class ="btn btn-outline-secondary btn-block fas fa-user-cog"></i>
<% end %>

<h1>New book</h1>
<%= form_with model: @book, local: true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<% end %>

</div>

<div class = "col-md-8 offset-md-1">
<h1 class = "ml-5">Books</h1>
<table class="table">
<thead>
  <tr>
   <th></th>
   <th>Title</th>
   <th>Opinion</th>
   </tr>
</thead>
<tbody>
<% @books.each do |book| %>
<tr>
<td>
<% if book.user.profile_image.attached? %>
<%= link_to user_path(book.user.id) do %>
<%= image_tag book.user.get_profile_image(50,50) %>
<% end %>
<% end %>
</td>
<td><%= link_to book_path(book.id) do %>
<%= book.title %>
<% end %>
</td>
<td>
<%= book.body %>
<% end %>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
