<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
　  <script src="https://kit.fontawesome.com/0159f84572.js" crossorigin="anonymous"></script>　　
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class = "bg-dark">
    <nav class = "navbar">
    <% if user_signed_in? %>
    <div class = "container">
      <a class="navbar-brand text-light" href="/">Bookers</a>
      <a class="fas fa-home nav-link text-light" href="/users/show">Home</a>
      <a class="fas fa-users nav-link text-light" href="/users">Users</a>
      <a class="fas fa-book-open nav-link text-light" href="/books">Books<</a>
      <a class="fas fa-sign-out-alt nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a>
    </div>
    <% else %>
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <a class="fas fa-home nav-link text-light" href="/users/show">Home</a>
      <a class="fas fa-link nav-link text-light" href="/homes/about">About</a>
      <a class="fas fa-user-plus nav-link text-light" href="/users/sign_up">Sign up</a>
      <a class="fas fa-sign-in-alt nav-link text-light" href="/users/sign_in">Log in</a>
    </div>
    <% end %>
    </nav>
    </nav>
    </header>
    <div class="message">
    <%=flash[:notice]%>
    </div>
    <%= yield %>
  </body>
  <footer class ="text-center mt-5">
      CopyRight Infratop.inc
  </footer>
</html>
