<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
　  <script src="https://kit.fontawesome.com/0159f84572.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class = "bg-dark">
    <nav class = "navbar">
    <% if user_signed_in? %>
    <div class = "container">
      <%= link_to "/",class:"text-light" do %>
      <span>Bookers</span>
      <% end %>
      <%= link_to user_path(current_user.id),class:"text-light" do %>
      <i class ="fas fa-home"></i>Home
      <% end %>
      <%= link_to "/users",class:"text-light" do %>
      <i class ="fas fa-users"></i>Users
      <% end %>
      <%= link_to "/books",class:"text-light" do %>
      <i class ="fas fa-book-open"></i>Books
      <% end %>
      <%= link_to "/users/sign_out",class:"text-light" do %>
      <i class ="fas fa-sign-out-alt"></i>Log out
      <% end %>
    </div>
    <% else %>
      <%= link_to "/",class:"text-light" do %>
      <span>Bookers</span>
      <% end %>
      <%= link_to "/",class:"text-light" do %>
      <i class ="fas fa-home"></i>Home
      <% end %>
      <%= link_to "/home/about",class:"text-light" do %>
      <i class ="fas fa-link"></i>About
      <% end %>
      <%= link_to "/users/sign_up",class:"text-light" do %>
      <i class ="fas fa-user-plus"></i>Sign up
      <% end %>
      <%= link_to "/users/sign_in",class:"text-light" do %>
      <i class ="fas fa-sign-in-alt"></i>Log in
      <% end %>
    </div>
    <% end %>
    </nav>
    </nav>
    </header>
    <div class="message">
    <%=flash[:notice]%>
    </div>
    <%= yield %>
  </body>
  <footer class ="text-center mt-5">
      CopyRight Infratop.inc
  </footer>
</html>
